%nav.menu1
  %input#menu-open.menu-open{:href => "#", :name => "menu-open", :type => "checkbox"}
  %label.menu-open-button{:for => "menu-open"}
    %span.lines.line-1
    %span.lines.line-2
    %span.lines.line-3
  %a.menu-item.blue{:href => "/shifts/new"}
    %h2 勤怠入力
  %a.menu-item.green{:href => "/shifts"}
    %h2 出勤状況
  %a.menu-item.red{:href => "/wages/makanai"}
    %h2 まかない(仮)
  %a.menu-item.purple{:href => "/workers/new"}
    %h3 アルバイト登録
  %a.menu-item.orange{:href => "/workers"}
    %h3 アルバイト一覧
  %a.menu-item.lightblue{:href => "/users/sign_in"}
    %h2 ログイン
    
