.head
  .head__name 店名: ---------------店
  .head__list
    %ul.hList
      %li
        %a.menu{:href => "/"}
          %h2.menu-title ホーム
          %ul.menu-dropdown
            
      %li
        %a.menu{:href => "/workers"}
          %h2.menu-title.menu-title_2nd アルバイト
          %ul.menu-dropdown
            -# %li 今日
            -# %li 一覧
            -# %li 登録
      %li
        %a.menu{:href => "/shifts"}
          %h2.menu-title.menu-title_3rd 今日
          %ul.menu-dropdown
            -# %li アルバイト
            -# %li 勤怠
           
           
      %li
        %a.menu
          %h2.menu-title.menu-title_4th まかない
          %ul.menu-dropdown
            %li{:href => "/workers"} サインイン
            %li.a サインアップ
            %li.a サインアウト
            

    

    


    