%nav#navigation
  %a.logo{:href => "/"}
    ーーーーーーー店
  %ul.links
    %li
      %a{:href => "/shifts/new"} 勤怠
    %li.dropdown
      %a.trigger-drop{:href => "#"}
        アルバイト
        %i.arrow
      %ul.drop
        %li
          %a{:href => "/shifts"} 今日
        %li
          %a{:href => "/workers"} 一覧
        %li
          %a{:href => "/workers/new"} 登録
    %li.dropdown
      %a.trigger-drop{:href => "#"}
        給料(仮)
        %i.arrow
      %ul.drop
        %li
          %a{:href => "#"} 一覧
        %li
          %a{:href => "#"} 編集
    %li.dropdown
      %a.trigger-drop{:href => "#"}
        まかない
        %i.arrow
      %ul.drop
        %li
          %a{:href => "/wages/makanai"} 入力
        %li
          %a{:href => "/wages/makanai_edit"} 編集(仮)
    %li.dropdown
      %a.trigger-drop{:href => "/users/sign_in"}
        ユーザー
        %i.arrow
      %ul.drop
        %li
          %a{:href => "/users/sign_up"} 登録
        %li
          %a{:href => "/users/sign_in"} ログイン

            

    

    


    