.head
  .head__name 店名: ---------------店
  .head__list
    %ul.hList
      %li
        %a.menu{:href => "#click"}
          %h2.menu-title animals
          %ul.menu-dropdown
            %li cat
            %li dog
            %li horse
            %li cow
            %li pig
      %li
        %a.menu{:href => "#click"}
          %h2.menu-title.menu-title_2nd names
          %ul.menu-dropdown
            %li Kevin
            %li Jim
            %li Andy
      %li
        %a.menu{:href => "#click"}
          %h2.menu-title.menu-title_3rd things
          %ul.menu-dropdown
            %li bench
            %li pizza
            %li Honda CB125
            %li space
            %li black matter
            %li apple
            %li philodendron
            %li liver
            %li brass
      %li
        %a.menu{:href => "#click"}
          %h2.menu-title.menu-title_4th Movies
          %ul.menu-dropdown
            %li Godzilla
            %li Man on Wire
            %li Spirited Away
            %li Interstellar

    

    


    