.main_wrapper
  .contents
    = render 'shared/header'

%table
  %tr
    %th 名前
    %td= @worker.first_name

  %tr
  - @worker.wages.each do |wage|
    %th 日付
    %td= wage.created_at.strftime('%Y/%m/%d')
  %tr
  - @worker.wages.each do |wage|
    %th 給料
    %td= wage.total