.notifications {
  color: white;
  text-align: center;  

  .attend {
    background-color: #668ad8;
  }

  .finish {
    background-color: #f12e20;
  }
  .rest_start {
    background-color: #40f728;
  }
  .rest_end {
    background-color: #f79628;
  }
}