.main_wrapper{
  width: 100%;
  height: 100%;
  .contents {
    width: 100%;
    height: 100%;
    .main {
      height: 650px;
      border-bottom: 2px solid #fafafa;
      .clock_flame {
        margin-top: 150px;
        width: 100%;
        height: 250px;
        display: inline-block;
        span {
          display: inline;     
          padding-left: 300px;
          color: rgb(9, 9, 70);
        }
        #clock_date {       
          font-size: 18px;
        }
        #clock_time {
          font-size: 150px;
          // padding-top: 50px;
          font-weight: bold;
        }
      }
      .button_flame {
        width: 100%;
        height: 230px;
        display: inline-block;
        margin-top: 100px;
        // .form_box {
          
        // }
        .button_box {
          display: inline-block;
          .start_button {
            display: inline-block;
            text-decoration: none;
            color: #668ad8;
            width: 120px;
            height: 120px;
            line-height: 120px;
            border-radius: 50%;
            border: solid 2px #668ad8;
            text-align: center;
            overflow: hidden;
            font-weight: bold;
            transition: .4s;
            margin-left: 100px;
          }
          .start_button:hover {
            background-color: #668ad8;
            color: white;
          }
          .end_button {
            display: inline-block;
            text-decoration: none;
            color: #f12e20;
            width: 120px;
            height: 120px;
            line-height: 120px;
            border-radius: 50%;
            border: solid 2px #f12e20;
            text-align: center;
            overflow: hidden;
            font-weight: bold;
            transition: .4s;
            margin-left: 100px;
          }
          .end_button:hover {
            background-color: #f12e20;
            color: white;
          }
          .rest_start_button {
            display: inline-block;
            text-decoration: none;
            color: #40f728;
            width: 120px;
            height: 120px;
            line-height: 120px;
            border-radius: 50%;
            border: solid 2px #40f728;
            text-align: center;
            overflow: hidden;
            font-weight: bold;
            transition: .4s;
            margin-left: 100px;
          }
          .rest_start_button:hover {
            background-color: #40f728;
            color: white;
          }
          .rest_end_button {
            display: inline-block;
            text-decoration: none;
            color: #f79628;
            width: 120px;
            height: 120px;
            line-height: 120px;
            border-radius: 50%;
            border: solid 2px #f79628;
            text-align: center;
            overflow: hidden;
            font-weight: bold;
            transition: .4s;
            margin-left: 100px;
          }
          .rest_end_button:hover {
            background-color: #f79628;
            color: white;
          }
        }
      }
    }
    .footer {
      text-align: center;
      color: rgb(219, 214, 214);
      height: 50px;
    }
  }
}
.notifications {
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
  }
}
#shift_worker_id {
  width: 60px;
}


