.form_box {
  position: relative;
  min-width: 200px;
  margin: 50px 33%;
  .time_class {
    min-width: 600px;
    &__select {
      display: inline-block;
      margin: 30px;
    }
  }
}

.form_box select {
  width: 80px;
  max-width: 420px;
  height: 40px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
